body{
    background-color:#7CC6DD;
}

.backgroundHeader{
    background-color:#1A657C;
}

.buttoncolor{
    background-color: #112159;
    color:white;
}

.searchcolor{
    background-color:#112159;
}

.form-control::placeholder{
    color:white;
    font-weight: bold;
    text-align: center;
}

.footerColor{
    background-color: #1A657C;
}

.titleFaction{
    background-color: #2C90BB;
    color:white;
}

.cardColor{
    background-color: #2C90BB;
    color:white;
}

.logoRS{
    width: 60px;
    height: 40px;
    margin-top: 23px;
}

a{
    text-decoration: none;
    color:inherit;
}